<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Inner Page - FlexStart Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!--head config layout link-->
    <th:block th:replace="fragments/config :: configFragment"></th:block>
</head>


<body>
<!--header config layout link-->
<th:block th:replace="fragments/header :: headerFragment"></th:block>

</body>
</html>