<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>회원 가입</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  <style>

    .center{text-align: center;}

    .divider-text {
      position: relative;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .divider-text span {
      padding: 7px;
      font-size: 12px;
      position: relative;
      z-index: 2;
    }
    .divider-text:after {
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: 1px solid #ddd;
      top: 55%;
      left: 0;
      z-index: 1;
    }

  </style>

  <script type="text/javascript">
    $(function (){
      $("#password").keyup(function(){
        var password = document.getElementById("password");
        var passwordCheck = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{8,16}$/;

        if (!passwordCheck.test(password.value)) {
          $("#alertMsg").text("비밀번호는 영문자+숫자+특수문자 조합으로 8~25자리 사용해야 합니다.");
        }else{
          $("#alertMsg").text("");
        }
      })

      $("#password2").keyup(function() {
        var password = document.getElementById("password");
        var password2 = document.getElementById("password2");

        if (password.value !== password2.value) {
          $("#alertMsg").text("비밀번호가 일치하지 않습니다.");
          password2.focus();
        }else{
          $("#alertMsg").text("");
          $("#btnChangePw").show();
        }
      })
    })
    function form_check(){
      var id = document.getElementById("id");
      var phone = document.getElementById("phone");

      if (id.value == "") {
        alert("이름을 입력하세요.");
        id.focus();
        return false;
      };

      if (phone.value == "" ) {
        alert("전화번호를 입력하세요.");
        phone.focus();
        return false;
      };

      var phoneCheck = /^((01[1|6|7|8|9])[1-9]+[0-9]{6,7})|(010[1-9][0-9]{7})$/;

      if(!phoneCheck.test(phone.value)){
        alert("전화번호를 정확하게 입력해주세요.");
        phone.focus();
        return false;
      };

      $.ajax({
        url:"gofindPw",
        type: "POST",
        data: $("#findPw_form").serialize(),
        dataType: 'JSON', // success 시 받아올 데이터 형식
        success: function(result) {
          console.log(result);
          $("#btnGoLogin").hide();
          $(".modal-text").html("");
          if(result.hasOwnProperty("hasId")){
            $("#modal_changePw").modal('show');
          }else{
            $(".modal-text").html(result.noId);
            $("#modal_alert").modal('show');
          }
        }
      });
    }

    function changePwd(){
      var password = document.getElementById("password");
      var password2 = document.getElementById("password2");
      var id = document.getElementById("id");

      $("#alertMsg").text("");
      $.ajax({
        url:"modifyPw",
        type: "POST",
        data: {"id" : id.value, "password" : password.value},
        dataType: 'text', // success 시 받아올 데이터 형식
        success: function(result) {
          $("#alertMsg").text("");
          $("#password").val("");
          $("#password2").val("");
          console.log(result);
          $(".modal-text").html("");
          if(result = "success"){
            $("#btnGoLogin").show();
            $(".modal-text").html("비밀번호 변경 완료");
            $("#modal_alert").modal('show');
            $("#btnChangePw").hide();
          }else{
            $("#btnGoLogin").hide();
            $(".modal-text").html("비밀번호 변경 실패! 다시 확인해주세요.");
            $("#modal_alert").modal('show');
            $("#btnChangePw").hide();
          }
        }
      });

    }
  </script>

  <!--head config layout link-->
  <th:block th:replace="fragments/config :: configFragment"></th:block>
</head>


<body>
<!--header config layout link-->
<th:block th:replace="fragments/header :: headerFragment"></th:block>


<main id="main">

  <section class="inner-page" style="margin-top:10%;">
    <div class="container" >

      <!-- 가져온 폼 -->
      <div class="container" style="padding-left:30%; padding-right:30%;">

        <div class="card bg-light">
          <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title  text-center"><b>비밀번호 찾기</b></h4>
            <hr>
            <form id="findPw_form" name="findPw_form" method="post" accept-charset="UTF-8" >
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input type="text" class="form-control" id="id" name="id" placeholder="아이디">
              </div> <!-- form-group// -->

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fas fa-phone"></i> </span>
                </div>
                <input type="number" class="form-control" id="phone" name="phone" placeholder="전화번호('-' 없이 숫자만)">
              </div> <!-- form-group// -->

              <div class="form-group">
                <button type="button" onclick="form_check();" class="btn btn-primary">찾기</button>
              </div> <!-- form-group// -->
              <p class="text-center"><a href="/login">로그인</a> </p>
            </form>
          </article>
        </div> <!-- card.// -->

      </div>
      <!-- 내가 만든 form -->

    </div>
  </section>

</main>
<!-- End #main -->
<!-- Modal -->
<div class="modal fade" id="modal_alert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">알림</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-text"></div>
      <div class="modal-footer">
        <button type="button" onclick="location.href='/login';" id="btnGoLogin" class="btn btn-success" style="display: none" data-bs-dismiss="modal">로그인 하러가기</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_changePw" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_changePwLabel">비밀번호 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span id="alertMsg" style="color: red;"></span>
        <form id="changePw" name="changePw" method="post">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input type="password" class="form-control" id="password" name="password"  placeholder="비밀번호(영문+숫자+특수기호)">
          </div> <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-check"></i> </span>
            </div>
            <input class="form-control" id="password2" name="password2" placeholder="비밀번호 재확인" type="password">
          </div> <!-- form-group// -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnChangePw" style="display: none;" onclick="changePwd(); return false;" class="btn btn-secondary" data-bs-dismiss="modal">변경</button>
      </div>
    </div>
  </div>
</div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>
</body>
</html>