<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>회원 가입</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <style>

        .center{text-align: center;}

        .divider-text {
            position: relative;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .divider-text span {
            padding: 7px;
            font-size: 12px;
            position: relative;
            z-index: 2;
        }
        .divider-text:after {
            content: "";
            position: absolute;
            width: 100%;
            border-bottom: 1px solid #ddd;
            top: 55%;
            left: 0;
            z-index: 1;
        }

    </style>

    <script type="text/javascript">

        function form_check(){
            var id = document.getElementById("id");
            var password = document.getElementById("password");
            var password2 = document.getElementById("password2");
            var name = document.getElementById("name");
            var phone = document.getElementById("phone");
            var education = document.getElementById("education");
            var isMajor = document.getElementById("isMajor");

            if (id.value == "") {
                alert("아이디를 입력하세요.");
                id.focus(); //focus(): 커서가 깜빡이는 현상, blur(): 커서가 사라지는 현상
                return false;
            };

            var passwordCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;

            if (password.value == "") {
                alert("비밀번호를 입력하세요.");
                password.focus();
                return false;
            };

             if (!passwordCheck.test(password.value)) {
                alert("비밀번호는 영문자+숫자+특수문자 조합으로 8~25자리 사용해야 합니다.");
                password.focus();
                return false;
              };

             if (!passwordCheck.test(password2.value)) {
                alert("비밀번호 재확인 항목을 입력해주세요.");
                password.focus();
                return false;
              };

              if (password.value !== password2.value) {
                alert("비밀번호가 일치하지 않습니다.");
                password2.focus();
                return false;
              };

            if (name.value == "") {
                alert("이름을 입력하세요.");
                name.focus();
                return false;
            };

            if (phone.value == "" ) {
                alert("전화번호를 입력하세요.");
                phone.focus();
                return false;
            };

            var phoneCheck = /^((01[1|6|7|8|9])[1-9]+[0-9]{6,7})|(010[1-9][0-9]{7})$/;

            if(!phoneCheck.test(phone.value)){
                alert("전화번호를 정확하게 입력해주세요.");
                phone.focus();
                return false;
              };

            if(isMajor.value == ""){
                alert("it 전공 여부를 선택해주세요.");
                isMajor.focus();
                return false;
            };

            if(education.value == ""){
                alert("최종 학력을 선택해주세요.");
                education.focus();
                return false;
            };

            alert("유효성검사 완료!");

            document.register_form.submit()

        }
    </script>

    <!--head config layout link-->
    <th:block th:replace="fragments/config :: configFragment"></th:block>
</head>


<body>
<!--header config layout link-->

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/home" class="logo d-flex align-items-center">
            <img src="/img/logo.png" alt="">
            <span>CheerUp</span>
        </a>

        <!-- .navbar -->
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a></li>
                <li><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></li>
                <li><a class="nav-link" th:href="@{/signup}">회원가입</a>
                <li><a class="nav-link scrollto" href="/freeboard/main">자유게시판</a></li>
                <li><a class="nav-link scrollto" href="/interview-home">면접 연습</a></li>
                <li><a class="nav-link scrollto" href="/recruitReview/mainRecruitReview">채용 후기</a></li>
                <li><a class="nav-link scrollto" href="/feedback/main">피드백</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>
<!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
<!--    <section class="breadcrumbs">-->
<!--        <div class="container">-->
<!--            <h2 class="center">회원가입</h2>-->
<!--        </div>-->
<!--    </section>-->
    <!-- End Breadcrumbs -->

    <section class="inner-page" style="margin-top:10%;">
        <div class="container" >

            <!-- 가져온 폼 -->
            <div class="container" style="padding-left:30%; padding-right:30%;">

                <div class="card bg-light col-md-8" >
                    <article class="card-body mx-auto" style="max-width: 400px;">
                        <h4 class="card-title  text-center"><b>회원가입</b></h4>
                        <hr>
                        <form id="register_form" name="register_form" method="post" th:action="@{/register}" accept-charset="UTF-8" >

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input type="text" class="form-control" id="id" name="id" placeholder="아이디">
                                </div> <!-- form-group// -->

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input type="password" class="form-control" id="password" name="password"  placeholder="비밀번호(영문+숫자+특수기호")>
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fas fa-check"></i> </span>
                                    </div>
                                    <input class="form-control" id="password2" name="password2" placeholder="비밀번호 재확인" type="password">
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-address-card"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="이름">
                                </div> <!-- form-group// -->
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fas fa-phone"></i> </span>
                                        </div>
                                        <input type="number" class="form-control" id="phone" name="phone" placeholder="전화번호('-' 없이 숫자만)">
                                    </div> <!-- form-group// -->

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-code"></i> </span>
                                    </div>
                                    <select class="form-select" aria-label="Default select example" id="isMajor" name="isMajor">
                                        <option selected value =""> IT 관련 전공 여부 선택</option>
                                        <option value="Y">전공자</option>
                                        <option value="N">전공자 아님</option>
                                    </select>
                                </div> <!-- form-group end.// -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-graduation-cap"></i> </span>
                                        </div>
                                        <select class="form-select" aria-label="Default select example" id="education" name="education">
                                            <option selected value = "">최종 학력을 선택해주세요</option>
                                            <option value="H">고등학교 졸업</option>
                                            <option value="U">대학교 졸업(학사)</option>
                                            <option value="G">대학원 졸업(석사 이상)</option>
                                        </select>
                                    </div> <!-- form-group end.// -->

                                    <div class="form-group">
                                        <button type="button" onclick="form_check();" class="btn btn-primary">회원가입</button>
                                    </div> <!-- form-group// -->
                                    <p class="text-center"> 이미 가입하셨다면?  <a href="">로그인</a> </p>
                        </form>
                    </article>
                </div> <!-- card.// -->

            </div>
            <!-- 내가 만든 form -->

        </div>
    </section>

</main>
<!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>
</body>
</html>